
/* Untuk Smartphone */
@media all and (max-width: 670px) {
    
    
    footer {
      text-align: center;
      width: 100%;
    }
   
    
    .col-50{
      width: 100%;
      margin-left: 30px;
    }
    
    .calculator{
      width: 100%;
      margin-left: 30px;
    }
    /* Tambahkan CSS untuk header-right */

  
    
    
    
  }
  
  @media (max-width: 400px) {
      .calc-cotnainer {
          max-width: 300px;
          min-width: 250px;
  
          border-radius: 20px;
      }
      .row button {
          width: 40px;
          height: 40px;
          margin: 5px;
          outline: none;
      }
      .advance-keys button {
          font-weight: 600;
          width: 40px;
          height: 25px;
      }
  
      .result {
          height: 80px;
      }
      .row #calculate {
          width: 100px;
          border-radius: 50px;
      }
  
      
  }