
/* Untuk Smartphone */
@media all and (max-width: 670px) {
    
    
    footer {
      text-align: center;
      width: 100%;
    }
   
    
    .col-50{
      width: 100%;
      margin-left: 30px;
    }
    
    .calculator{
      width: 100%;
      margin-left: 30px;
    }
    /* Tambahkan CSS untuk header-right */
    .header-right{
      display:none;
    }
    .header-right.show:active{
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 10px auto;
      line-height: 65px;
      text-align: center;
    }
    /* Tambahkan CSS untuk menu-icon */
  
    .menu-icon{
      color: rgba(241, 168, 12, 0.795);
      float: right;
      font-size: 25px;
      margin: 10px 0;
      cursor: pointer;
      display:block;
      padding: 11px 11px;
      margin-right: -25px;
    }
    .menu-icon.click span:before{
      content: '\f00d';
    }
    .sidebar{
      position: fixed;
      overflow-y: scroll;
      width: 100%;
      height: auto;
      background: #1b1b1b;
      transition: left 0.4s ease;
    }
    .sidebar.show{
      left: 0px;
    }
    
    .menu-icon:hover{
      border-radius: 5px;
      color: black;
      background-color: rgba(241, 168, 12, 0.795);;
    }
    
    
  }
  
  @media (max-width: 400px) {
      .calc-cotnainer {
          max-width: 300px;
          min-width: 250px;
  
          border-radius: 20px;
      }
      .row button {
          width: 40px;
          height: 40px;
          margin: 5px;
          outline: none;
      }
      .advance-keys button {
          font-weight: 600;
          width: 40px;
          height: 25px;
      }
  
      .result {
          height: 80px;
      }
      .row #calculate {
          width: 100px;
          border-radius: 50px;
      }
  
      
  }