@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");



body {
	margin: 0;
	font-family: "Roboto", sans-serif, "Lucida Grande";
	background-image: url(https://scontent.fcgk18-2.fna.fbcdn.net/v/t39.30808-6/255312667_296778152451168_1694600922226922927_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_ohc=M6KAVStKzdAAX8oYU30&_nc_oc=AQm_UHX8qhIg8dpYCvS1ujakG7nEbQEznwymiTw8MeTSAhepgpVTryJ11gU3vZj10VI&tn=KJGPf6qaLQyn6rkF&_nc_ht=scontent.fcgk18-2.fna&oh=73e89ac8fbca9d4d19967701d62606f2&oe=618FE726);
	background-size: cover;
}

header {
	height: 65px;
	width: 100%;
	background-color: rgba(0, 0, 0);
	position :absolute;
	top: 0;
	padding-right: 30px;
	padding-left: 30px;
	z-index: 4;
  }
  
  .logo {
	width: 55px;
	margin-top: 5px;
  }
  
  .header-left {
	float: left;
  }
  
  .header-right {
	float: right;
	margin-right: 25px;
  }
  
  .header-right a {
	line-height: 65px;
	padding: 0 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: normal;
	font-size: 20px;
    text-decoration: none;
	color: rgba(241, 168, 12, 0.795);;
	display: block;
	float: left;
  }
  
  .header-right a:hover {
	background-color: rgba(241, 168, 12, 0.795);
	border-radius: 10px;
	color: black;
  }


 
.container {
	max-width: 1050px;
	width: 100%;
    
	margin: 0 auto;
	background-color: #131212;
    align-items: center;
    text-align: center;
  }
  .container h2{
	font-family: cursive;
	font-size: 40px;
    margin-top: 60px;
	text-align: center;
	color: rgb(252, 172, 0);
    }
    .container span{
        font-family: monospace;
        font-size: 56px;
        font-weight: bolder;
        color: red;
    }
    .container h4{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        text-align: center;
        font-style: italic;
        background-color: rgb(252, 172, 0);
        color: rgb(0, 4, 252);
    }

.cont-calc{
    padding: 20px 20px;
    background-color: rgb(95, 10, 14);
    height: auto;
    display: inline-block;
    border-radius: 20px;
    width: fit-content;
    
}
.cont-calc p{
    color: red;
    font-style: italic;
    margin: 0;
    
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.display {
    background-color: #252525;
    padding: 15px;
    width: 250px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.display p{
    color:  #fff;
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: unset;
    font-weight: unset;
    font-style: normal;
}

#r1-3,
#r2-4,
#r3-4,
#r4-4,
#r5-3 {
    background-color: orange;
}
button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: gray;
    color: #fff;
    font-size: 20px;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #b6b2b2;
}

button:active {
    background-color: rgb(136, 136, 136);
}
footer {
	padding: 10px 20px;
	height: 100px;
	background-color: black;
	max-width: auto;
  }
  footer img{
	  width: 70px;
  }
	.footer-logo {
		float: left;
	}
  
  	.footer-text {
	color: rgba(241, 168, 12, 0.795);;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
	text-align: top;
	padding-left: 30%;
  }